footer {
  margin-top: 4em;
  padding: 3.2em;
  background-color: #14242c;
  text-align: center;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.footer-address,
.footer-team,
.footer-class {
  flex: 1;
}

.footer-content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.footer-content p:first-child {
  font-weight: bold;
  color: #fff;
}

.footer-content p:last-child {
  font-style: italic;
}
